div.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
}

section {
    width: 100%;
    background-color: var(--brown-bg);
    box-sizing: border-box;
}

section.metadata {
    padding: 20px;
    color: white;
    flex: 0 1 auto;
}

h2.md_text {
    font-weight: 400;
    margin: 3px;
}

h2.md_text span{
    font-weight: 900;
}

img.copy {
    cursor: pointer;
    margin-left: 4px;
    height: 20px;
}

img.logo {
    width: 150px;
    position: absolute;
    top: 30px;
    right: 30px;
}

section.questions {
    padding: 10px 5px;
    display: flex;
    box-sizing: border-box;
    flex: 1 1 auto;
}

div.q_child {
    width: 100%;
    background-color: white;
    margin: 0 5px;
    padding: 10px;
    overflow: scroll;
    box-sizing: border-box;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.q_child h2 {
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    align-self: flex-start;
}

.q_child .question {
    font-style: italic;
}

.pending_question {
    background-color: var(--brown-bg);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
}

.q_child .option {
    font-weight: 400;
    margin: 5px 0;
}

#add_question {
    width: 30px;
    margin: 20px 0;
    cursor: pointer;
}