:root {
    --brown-bg: rgb(34,31,31);
    --yellow-hl: rgb(251,208,78)
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

input {
    border: none;
    outline: none;
}

input:focus {
    border: none;
    outline: none;
}

footer {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
}

.github-logo{
    position: absolute;
    right: 20px;
    top: 3px;
    width: 28px;
}

.github-logo:hover {
    position: absolute;
    right: 20px;
    top: 3px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--yellow-hl);
}

button:focus, button:active {
    border: none;
    outline: none;
}