{% extends 'layout.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_room.css') }}">
{% endblock %}


{% block body %}

<div class="wrapper">
    <section class="metadata">
        <a href="https://www.ietf.org/" target="_blank"><img src="../static/img/svg/logo_white.svg" alt="LOGO" class="logo"></a>
        <div class="md_text_wrap"> <!-- "md" for metadata -->
            <h2 class="md_text">ROOM NAME: <span id="room_name">{{room.name}}</span></h2>
            <h2 class="md_text">ROOM USER URL: <span id="room_user_url">{{room.id}}</span> <img src="../static/img/svg/copy.svg" alt="copy to clipboard" class="copy" onclick="copy_url('#room_user_url', event)"> </h2>
            <h2 class="md_text">ROOM ADMIN URL: <span id="room_admin_url"></span> <img src="../static/img/svg/copy.svg" alt="copy to clipboard" class="copy" onclick="copy_url('#room_admin_url', event)"></h2>
            <h2 class="md_text">ROOM LIFETIME: <span id="room_lifetime"></span></h2>
            <h2 class="md_text">TOTAL CONNECTED: <span id="total_connected"></span></h2>
            <h2 class="md_text">TOTAL UNIQUE IPS: <span id="total_unique_ips"></span></h2>
        </div>
        <button onclick="download_json()" id="download_json_btn" class="md_btn">Donwload JSON</button>
        <button onclick="close_room()" id="close_room_btn" class="md_btn">Close room</button>
    </section>

    <section class="questions">
        <div class="q_child" id="pending_questions">
            <h2>PENDING QUESTIONS:</h2>
            <div class="pending_questions_wrap">
                {% if pending_q_dict %} <!-- Only if there are already pending questions in the server -->
                {% for q in pending_q_dict %}
                <div class="pending_question" id="{{ q }}">
                    <h3 class="question">{{ pending_q_dict[q].question }}</h3>
                    <div class="pending_question_options">
                        {% for opt in pending_q_dict[q].options %}
                        <h5 class="option">{{ opt + 1 }} . {{ pending_q_dict[q].options[opt] }}</h5>
                        {% endfor %}
                    </div>
                    <img src="../static/img/svg/next2.svg" class="next_add_question" onclick="put_on_vote(this)">
                    <img src="../static/img/svg/trash.svg" class="trash_question" onclick='delete_question(this)'>
                </div>
                {% endfor %}
                {% endif %}
            </div> <!-- That's the div that will hold all pending questions -->
            <img src="../static/img/svg/plus.svg" alt="add question" id="add_question">
        </div>
        <div class="q_child" id="on_vote">
            <h2>ON VOTE:</h2>
            <div class="on_vote_question">
            </div>
        </div>
        <div class="q_child" id="finished_voting">
            <h2>FINISHED VOTING:</h2>
            {% if finished_q_dict %} <!-- Only if there are already pending questions in the server -->
            {% for q in finished_q_dict %}
                <div class="finished_question">
                    <h3 class="question">{{ finished_q_dict[q].question }}</h3>
                    {% for opt in finished_q_dict[q].options %}
                    <h3 class="finished_option">{{ finished_q_dict[q].options[opt] }} - 
                        
                        <span class="option_hum">  {{ finished_q_dict[q].results[loop.index] }}  </span>
                    </h3>
                    {% endfor %}
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <div class="add_question_form_wrap">
        <form action="#" onsubmit="add_question(event)" class="add_question_form" autocomplete="off">
            <input type="text" name="question" placeholder="INSERT QUESTION" required>
            <div class="form_options">
                <input type="text" name="option" placeholder="INSERT OPTION" required>
                <input type="text" name="option" placeholder="INSERT OPTION" required>
                <input type="text" name="option" placeholder="INSERT OPTION (not required)">
                <input type="text" name="option" placeholder="INSERT OPTION (not required)">
            </div>
            <div class="form_actions">
                <input type="submit" value="">
                <img src="../static/img/svg/x.svg" alt="discard" class="dont_add_question">
            </div>
        </form>
    </div>
</div>

<p id="copy_alert">Link copied to clipboard</p>

<script>var r_id = "{{ room.id }}"; var expiry_duration = "{{expiry_duration}}"; var this_question_id = "{{num_questions}}"</script>

<script src="{{ url_for('static', filename='js/admin_room.js') }}?{{ js_version }}"></script>
{% endblock %}