<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    
    {% endblock %}
    <footer><p class="copywrite">© Amir Sheffer & Jonathan Yaari Barzilay, 2020</p></footer>
</body>
</html>