<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,700i,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
    <footer>
        <p class="copywrite">© Jonathan Yaari Barzilay & Amir Sheffer, 2020</p>
        <a href="https://github.com/Jonyaa/HUM/" target="_blank">
            <img src="../static/img/GitHub-Mark-Light-64px.png" alt="github-LOGO" class="github-logo" />
        </a>
    </footer>
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
</body>
</html>